<table class="acd.ta-ReadAloud_Table acd.ta-Table">
    <tr>
        <th align="left">
            <i class="fas fa-comment"></i>
            {{label}}
        </th>
        <th width="30px">
            <a onclick="{{click}}">
                <i class="fas fa-message"></i>
            </a>
        </th>
    </tr>
    <tr>
        <td colspan="2" id="acd.ta-ReadAloud_content">{{content}}</td>
    </tr>
</table>