<h3>{{localize 'acd.ta.TokenHud.text.label'}}</h3>
<textarea name="readaloadtext" cols="40" rows="5" ></textarea>
<h3>{{localize 'acd.ta.TokenHud.speaker'}}</h3>
<input type="radio" id="narrator" name="speaker" value="narrator">
<label for="narrator">{{localize 'acd.ta.TokenHud.narrator'}}</label><br>
<input type="radio" id="actor" name="speaker" value="actor" checked>
<label for="actor">{{localize 'acd.ta.TokenHud.actor'}}</label><br>