.ta-voice-settings .sheet {
    border: 0px !important;
}

.ta-voice-settings .sheet .items-list {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    scrollbar-width: thin;
    color: #7a7971;
}

.ta-voice-settings .sheet .items-list .items-header {
    height: 28px;
    margin: 2px 0;
    padding: 0;
    align-items: center;
    background: rgba(0, 0, 0, 0.05);
    border: 2px groove #eeede0;
    font-weight: bold;
    flex-wrap: nowrap;
}

.ta-voice-settings .sheet .items-list .items-header h3 {
    padding-left: 5px;
    font-family: "Modesto Condensed", "Palatino Linotype", serif;
    font-size: 20px;
    font-weight: 700;
    text-align: left;
    font-size: 16px;
    min-width: 60px;
}

.ta-voice-settings .sheet .items-list .items-header>* {
    font-size: 12px;
    text-align: center;
}

.ta-voice-settings .sheet .items-list .item-controls {
    flex: 0 0 60px;
    justify-content: flex-end;
}

.ta-voice-settings .sheet .items-list .items-header .item-control {
    font-weight: normal;
}

.ta-voice-settings .sheet .items-list .item-controls a {
    font-size: 12px;
    text-align: center;
    flex: 1;
}

.ta-voice-settings .sheet .items-list .item-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.ta-voice-settings .sheet .items-list .item:last-child {
    border-bottom: none;
}

.ta-voice-settings .sheet .items-list .item {
    align-items: center;
    padding: 0 2px;
    border-bottom: 1px solid #c9c7b8;
}

.ta-voice-settings .sheet .items-list .item .item-name {
    color: #191813;
}

.ta-voice-settings .sheet .items-list .item-name {
    flex: 1;
    margin: 0;
    overflow: hidden;
    font-size: 13px;
    text-align: left;
    align-items: center;
}

.window-content .ta-voice-settings .sheet .items-list .item .item-name .item-image {
    flex: 0 0 48px;
    width: 48px;
}

.ta-voice-settings .sheet .items-list .item .item-name .item-image {
    flex: 0 0 30px;
    height: 30px;
    width: 30px;
    background-size: 30px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    margin-right: 5px;
    text-align: center;
}

.ta-voice-settings .sheet .items-list .item-name h3,
.ta-voice-settings .sheet .items-list .item-name h4 {
    margin: 0;
    white-space: nowrap;
    overflow-x: hidden;
}

.ta-voice-settings .sheet .items-list .item-controls {
    flex: 0 0 190px;
    justify-content: flex-end;
}

#changeVoiceSettings .settings-header, .ta-se-generation .settings-header {
    border-radius: 4px;
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px #000;
    border: 1px solid #000;
    padding: 1px 8px;
}

#ta-create-soundeffect {
    text-align: center;
    width: 100%;
    display: block;
}

.ta-se-generation {
    position: relative;
}

.ta-se-overlay {
    position: absolute;
    width: 100%;
    background: #e0e0e0a0;
    display: none;
}

.ta-se-overlay-text {
    left: 50%;
    top: 50%;
    position: absolute;
    font-size: x-large;
    font-weight: bold;
}